SOAPServices/src/main/resources/wsdl/ADRService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://adrservice.soacourse.unsw.edu.au" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ADRService" targetNamespace="http://adrservice.soacourse.unsw.edu.au">
  <wsdl:types>
    <xsd:schema targetNamespace="http://adrservice.soacourse.unsw.edu.au">
       <xsd:element name="ADRValidateRequest">
      	<xsd:complexType>
          <xsd:sequence>
            <xsd:element name="address" nillable="false" type="xsd:string"/>
            <xsd:element name="fullName" nillable="false" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="ADRValidateResponse">
        <xsd:complexType>
           <xsd:sequence>
               <xsd:element name="validationMsg" nillable="false" type="xsd:string"/>
           </xsd:sequence>
        </xsd:complexType>
       </xsd:element>
      <xsd:complexType name="serviceFaultType">
         <xsd:sequence>
             <xsd:element name="errcode" type="xsd:string"></xsd:element>
             <xsd:element name="errtext" type="xsd:string"></xsd:element>
         </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ADRValidateFault" type="tns:serviceFaultType"></xsd:element>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="ADRValidateRequestMsg">
    <wsdl:part name="parameters" element="tns:ADRValidateRequest" />
  </wsdl:message>
  <wsdl:message name="ADRValidateResponseMsg">
    <wsdl:part name="parameters" element="tns:ADRValidateResponse" />
  </wsdl:message>
  <wsdl:message name="ADRValidateFaultMsg">
    <wsdl:part name="parameters" element="tns:ADRValidateFault" />
  </wsdl:message>
  
  <wsdl:portType name="ADRService">
    <wsdl:operation name="ADRValidate">
      <wsdl:input message="tns:ADRValidateRequestMsg"/>
      <wsdl:output message="tns:ADRValidateResponseMsg"/>
      <wsdl:fault name="ADRValidateFault" message="tns:ADRValidateFaultMsg"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="ADRServiceSOAP" type="tns:ADRService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ADRValidate">
      <soap:operation soapAction="http://dlservice.soacourse.unsw.edu.au/ADRValidate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ADRValidateFault">
      	<soap:fault name="ADRValidateFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="ADRService">
    <wsdl:port binding="tns:ADRServiceSOAP" name="ADRServiceSOAP">
      <soap:address location="http://localhost:8080/ADRService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>